
/* Actual code example */
.form-field {
  display: block;
  margin-bottom: 16px;
}

.form-field__label {
  font-size: 0.75rem;
  transform: translateY(-14px);
  display: block;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
}

.form-field__control {
  background: #eee;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.form-field__bar {
  border-bottom: 2px solid #b11adc;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.4s;
  width: 1%;
}

.form-field__input,
.form-field__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}
.form-field__input:-ms-input-placeholder ~ .form-field__label,
.form-field__textarea:-ms-input-placeholder ~ .form-field__label {
  font-size: 1.2rem;
  transform: translateY(0);
}
.form-field__input:-moz-placeholder-shown ~ .form-field__label, .form-field__textarea:-moz-placeholder-shown ~ .form-field__label {
  font-size: 1.2rem;
  transform: translateY(0);
}
.form-field__input:-ms-input-placeholder ~ .form-field__label, .form-field__textarea:-ms-input-placeholder ~ .form-field__label {
  font-size: 1.2rem;
  transform: translateY(0);
}
.form-field__input:placeholder-shown ~ .form-field__label,
.form-field__textarea:placeholder-shown ~ .form-field__label {
  font-size: 1.2rem;
  transform: translateY(0);
}
.form-field__input:focus ~ .form-field__label,
.form-field__textarea:focus ~ .form-field__label {
  color: #b11adc;
  font-size: 0.75rem;
  transform: translateY(-14px);
}
.form-field__input:focus ~ .form-field__bar,
.form-field__textarea:focus ~ .form-field__bar {
  border-bottom: 2px solid #b11adc;
  transform: scaleX(150);
}

.form-field__textarea {
  height: 150px;
}